*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

    font-family: 'Merriweather Sans', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Varela Round', sans-serif;
}
#exit-id{
    color: #333;
}

.navbar{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 50px;
    background-color: rgb(247, 247, 247);
    position: fixed;
    top: 0;
    z-index: 3;
    box-shadow: 0 5px 20px -5px rgba(0,0,0,.2);
}
.container-navbar{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 20%;
    height: 100%;
}
.logo img{
    width: 110px;
    height: 110px;
}
.menu{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.menu ul{
    position: absolute;
    right: 0;
    display: flex;
    width: 60%;
    justify-content: space-between;
    width: 80%;
}
.menu li{
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: #ea4723;
    font-size: 20px;
}
.home{
    background: rgb(255,115,0);
    background: linear-gradient(17deg, rgba(255,115,0,1) 26%, rgba(249,255,99,1) 80%);     background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    width: 55%;
    height: 60%;
    background-color: #333;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}
.content{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid white; */
}
.container-for-img{
    width: 80%;
    height: 80%;
    background-color: blue;
    border-radius: 20px;
    /* margin-bottom: 30px; */
    /* border: 1px solid white; */
}
.container-for-img img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.name{
    color: whitesmoke;
}
.author-title{
    color: whitesmoke;
    font-size: 30px;
}

.item{
    width: 90%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.item p{
    color: #eaede7;
    font-size: 16px;
}

article{
    width: 30%;
    height: 10%;
    border-radius: 15px;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
}
article p{
    font-size: 15px;
    color: aqua;
}
